@import "../node_modules/bootstrap/scss/bootstrap";
.form, .result {
  padding: 1em;
  margin: 1em;
  color: color-yiq(theme-color("dark"));

  .result-item {
    background-color: theme-color("dark");
    margin: $spacer 0;
    padding: $spacer;
  }
}
#submit-progress {
  visibility: hidden;
}
#submit-progress.visible {
  visibility: visible;
}
#submit-progress>.progress-bar-striped {
  transition: width 2s;
  width: 0%;
}
#submit-progress.visible>.progress-bar-striped {
  width: 100%;
}
